<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/362205a1-056a-41ec-808c-4c06c77d89f0/resourceGroups/A-GOL/providers/Microsoft.Web/sites/A-GOL</ResourceId>
    <ResourceGroup>A-GOL</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://a-gol.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>a-gol.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>A-GOL</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$A-GOL</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=a-gol.database.windows.net;Initial Catalog=A-GOLDb;Persist Security Info=True;User ID=agolAdmin;Password=aGol1122" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-A-GOL-20180502031710.mdf;Initial Catalog=aspnet-A-GOL-20180502031710;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-A-GOL-20180502031710.mdf;Initial Catalog=aspnet-A-GOL-20180502031710;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="A-GOLDb" Order="2" Enabled="False">
          <Destination Path="Data Source=a-gol.database.windows.net;Initial Catalog=A-GOLDb;Persist Security Info=True;User ID=agolAdmin;Password=aGol1122" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="A_GOL.Models.ApplicationDbContext, A-GOL" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="A-GOLDb-Web.config Connection String">
      <ParameterValue>Data Source=a-gol.database.windows.net;Initial Catalog=A-GOLDb;Persist Security Info=True;User ID=agolAdmin;Password=aGol1122</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=a-gol.database.windows.net;Initial Catalog=A-GOLDb;Persist Security Info=True;User ID=agolAdmin;Password=aGol1122</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="A-GOLDb" />
  </ItemGroup>
</Project>